<a href="https://colab.research.google.com/github/taimur1871/Coursera_Capstone/blob/master/cleaning_crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importing the required modules for the project
import numpy as np
import pandas as pd

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

Getting crime data

In [0]:
# analyzing crime data, this dataset has been preprocessed using another script that is in the repository
df_crime = pd.read_csv('crime.csv')
df_crime.drop(['Unnamed: 0'], axis = 1, inplace = True)
df_crime.head()

          OFFENSE_ID             OFFENSE_TYPE_ID  ... NEIGHBORHOOD_ID        year
0  20196012240230800             theft-from-bldg  ...     west-colfax  2019-12-09
1   2019738697239900                 theft-other  ...       montclair  2019-11-20
2    201985551220300  burglary-business-by-force  ...        westwood  2019-02-07
3   2020131877570700        criminal-trespassing  ...     five-points  2020-02-29
4   2019126652570700        criminal-trespassing  ...    lincoln-park  2019-02-26

[5 rows x 10 columns]

In [0]:
# grouping the crime types according to neighborhood
df_crime_group = df_crime.groupby(['NEIGHBORHOOD_ID'], axis=0).count()
df_crime_group = df_crime_group['OFFENSE_ID']

NEIGHBORHOOD_ID
athmar-park    1030
auraria         826
baker          1509
barnum          793
barnum-west     443
Name: OFFENSE_ID, dtype: int64

In [0]:
# sorting values
df_1 = df_crime_group.sort_values(axis=0, ascending = False)

# getting unique values
df_2 = df_crime.drop_duplicates(['NEIGHBORHOOD_ID'])

# getting neighborhood names and coordinates
df_3 = df_2[['NEIGHBORHOOD_ID','GEO_LAT', 'GEO_LON']]

pandas.core.series.Series

In [0]:
# joining the two tables to create one dataframe
df_4 = df_3.merge(df_crime_group, how = 'inner', left_on = 'NEIGHBORHOOD_ID', right_on='NEIGHBORHOOD_ID')
df_4.drop(['total_crime'], axis=1, inplace=True)
df_4.head()

  NEIGHBORHOOD_ID    GEO_LAT     GEO_LON  OFFENSE_ID
0     west-colfax  39.738134 -105.029208        1867
1       montclair  39.729818 -104.919802         551
2        westwood  39.700625 -105.047350        1813
3     five-points  39.754698 -104.988366        5704
4    lincoln-park  39.739501 -105.000542        2027

In [0]:
# saving to csv
df_4.to_csv('/content/crime_group.csv')